@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins";
  --font-montserrat: "Montserrat";
  --color-gradient: linear-gradient(#f22613, #f89406);
  --color-default: #eaeaea;
  --animate-previewOpen: previewOpen 0.5s ease forwards;
  --animate-previewClose: previewClose 0.5s ease forwards;
  --animate-bgPreviewOpen: bgPreviewOpen 0.3s ease forwards;
  --animate-bgPreviewClose: bgPreviewClose 0.3s ease forwards;
  --animate-mascotAddStory: mascotAddStory 0.5s ease forwards;
  --animate-mascotEye: mascotEye 1.5s ease forwards;
}

.eyeAnim {
  animation: eyeBlink 5s infinite;
}

@keyframes eyeBlink {
  0%,
  20%,
  22%,
  24%,
  100% {
    transform: scaleY(1);
  }
  21%,
  23% {
    transform: scaleY(0.1);
  }
}


.ignielPelangi {
  background: linear-gradient(
    45deg,
    #f22613,
    #f89406,
    #26a65b,
    #5868ec,
    #f54e80,
    #f7ca18,
    #d2527f
  );
  background-size: 500% 500%;
  -webkit-animation: ignielGradient 12s ease infinite;
  -moz-animation: ignielGradient 12s ease infinite;
  animation: ignielGradient 12s ease infinite;
}

@keyframes previewOpen {
  0% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 200px;
    height: 250px;
  }
}

@keyframes previewClose {
  0% {
    width: 200px;
    height: 250px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@keyframes bgPreviewOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgPreviewClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ignielGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes ignielGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes ignielGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ignielTextGradient {
  background: linear-gradient(
    45deg,
    #f22613,
    #f89406,
    #26a65b,
    #5868ec,
    #f54e80,
    #f7ca18,
    #d2527f
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ignielGradient 12s ease infinite;
}

@keyframes mascotAddStory {
  to {
    top: 120px;
    left: 35%;
  }
}

@keyframes mascotEye {
  0% {
    bottom: 0.5rem;
    right: 0;
  }
  40% {
    bottom: 0;
    right: 0;
  }
  70% {
    bottom: 0;
    right: 0.25rem;
  }
  100% {
    bottom: 2px;
    right: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}